* {
 box-sizing: border-box;
  margin: 0 auto;

  text-align: center;
  list-style: none;
}


.content-carta{
  
  width: 80vw;
   max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:  repeat(4,1fr);
border: 2px  black solid;

}
.space-cart{

padding: .5rem ;


align-items: center;
  

} 

.carta{


border-radius: 10%;

 box-shadow: 2px 2px  8px rgba(0, 0, 0, .5);
 

  
}
.imag{
 
  height: auto;
  width: auto;
 max-width: 190px;
 max-height:190px ;
  border-radius: 10%;

}
@media(max-width:978px) {
  .imag{
 
    height: auto;
    width: auto;
   max-width: 140px;
   max-height:140px ;
    border-radius: 10%;
  
  }
  .space-cart{

    padding: .5rem;
    
    
    align-items: center;
      
    
    } 

}
@media(max-width:768px) {
  .imag{
 
    height: auto;
    width: auto;
  max-width: 130px;
   max-height:140px ;
    border-radius: 10%;
  
  }
  .space-cart{

    padding: .5rem;
    
    
    align-items: center;
      
    
    } 

}
@media(max-width:576px) {
  .imag{
 
    height: auto;
    width: auto;
    max-width: 90px;
   max-height:90px ;
    border-radius: 10%;
  
  }
  .space-cart{

    padding: .5rem;
    
    
    align-items: center;
      
    
    } 

}